.site_posts {
    padding: 0 5px;
}

.entry-header {
    text-align: center;
    h1 { 
        font-size: 3.25rem;
        font-weight: extra-bold; 
        text-transform: uppercase;
    }
}

.post-thumbnail {
    img {
        margin-top: 6rem;
        width: 100% !important;
        height: auto !important;

    }
}

.entry-content {
    p  {
        padding-bottom: 3rem;
        font-size: 2rem;
    }
}