.site_posts {
    padding: 0 15px;
}

.entry-header {
    text-align: center;
    h1 { 
        font-size: 3.25rem;
        font-weight: 600 !important; 
        padding-bottom: 3rem;
        text-transform: uppercase;
    }
   
}


.wp-block-image {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
figure.wp-block-image {
    padding-bottom: 3rem;
}
.post-thumbnail {
    display: none;
}
.alignright.is-resized {
    margin-bottom: 0;
}

.entry {
    &-content {
        h2, h3, p  {
            margin: 0 auto;
            padding-bottom: 3rem;
            font-size: 2rem;
        }
        h2 { 
            font-size:  2rem;
            font-weight: 600 !important;
        }
        h3 {
            font-weight: 600 !important;
        }
        ul {
            width: 100%;
            margin: 0 auto;
            padding: 0 5rem 5rem;
            font-size: 2rem;
        }
        figcaption {
            margin: -1rem 0 4rem;
        }
    }
    &-footer {
        text-align: center;
        margin: 0 auto;
        width : 69%;
        font-weight: 700;
        padding-bottom: 2rem;
        color: blue;
    }
}

.comments {
    margin: 0 auto;
    width : 69%;
    @media( max-width: 480px ) {
        width: 100%;
    }
}

#respond {
    font-size: 2rem;
    p { padding-bottom: 1rem; }
    h3 {
        font-weight: 700;
        padding-bottom: 2rem;
    }
    label {
        display: block;
    }
    textarea {
        border: 1px solid grey;
        width: 100%;
    }
    #submit {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: white;
    }
}

@media( min-width: 767px){
    .wp-block-image {
        width: 67vw !important;
        & img {
            width: 67vw !important;
            height: auto !important;
        }
    }
    .alignright.is-resized {
        max-width: 15rem;
    }
    .entry-content {
        p  {
            margin: 0 auto;
            width: 67vw !important;
            padding-bottom: 3rem;
        }
        h2, h3 { width: 67vw !important; }
        h2 { font-size: 3.2rem; }
        ul {
            width: 67vw;
        }
    }
    .post-thumbnail {
        text-align: center;
        img {
            width: 67vw !important;
        }
    }
}